#NET "SPI_MISO" LOC = "N10" | IOSTANDARD = LVCMOS33 ;
NET "MOSI" LOC = "T4" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "clock" LOC = "U16" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "select" LOC = "N8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "reset" LOC = "P8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

NET "start" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "clock_in" LOC = "C9" | IOSTANDARD = LVCMOS33 ;

NET "half" LOC = "L14" | IOSTANDARD = LVTTL | PULLUP ;